* {
    margin: 0;
    padding: 0;
    color: #B9B9B9;
}

table, th, td {
    border: solid 1px;
    border-collapse: collapse;
    padding: 10px;
}

table {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

th.sortable {
  cursor: pointer;
}

img {
    width: auto;
    height: 100%;
}

img.icon {
    max-height: 20px;
    width: auto;
}

.icon {
    cursor: pointer;
}

.moderation-options {
    display: flow-root;
    position: relative;
    top: 0;
    right: 0;
}

.moderation-action {
    float: right;
    color: green;
    font-weight: bold;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

.moderation-btn {
    background-color: lightblue;
    float: right;
    margin: 5px;
}

.centered {
    text-align: center;
}

body{
    background-color: #282D40;
}

ul {
    list-style-type: none;
    underline: none;
}

hr {
    height: 10px;
    background-color: black;
    border: 0;
}

div.navbar {
    width: 100%;
    background-color: #191919;
    height: 50px;
}

div.body {
    display: flex;
    margin: 70px 3vw 70px 5vw;
    min-height: calc(100vh - 240px);
}

div.content {
    float: left;
    width: 85vw;
    margin-right: 3vw;
}

div.right-panel {
    float: right;
    background-color: grey;
    width: 10vw;
}

footer {
    height: 50px;
    background-color: #191919;
    display: block;
}

input, select, option, textarea {
    color: black;
}

a:link {
    text-decoration: none;
}

a.navbar {
    float: left;
    height: inherit;
    width: 80px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.right {
    color: inherit;
    float: right;
}

a.navbar:hover {
    color: pink;
    background-color: black;
}

.paginator {
    text-align: center;
    margin: 50px 0 0 0;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

button {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    border: none;
    border-radius: 4px;
    color: black;
    background: inherit;
    cursor: pointer;
}

button.icon {
    width: auto;
    height: auto;
}

button:focus-visible {
    outline: none;
}

.remove-btn {
    height: 30px;
}

.status-btn {
    background: green;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #292929;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
